/* Variables globales */
:root {
    --color-bg: #1a1a1a;
    --color-text: #f0f0f0;
    --color-accent: #ff6600;
    --color-hover: #e65c00;
    --color-nav-bg: rgb(53, 53, 53);
    --color-nav-text: aliceblue;
    --color-nav-hover: rgb(252, 181, 2);
    --font-primary: 'Helvetica Neue', sans-serif;
    --font-secondary: 'Georgia', serif;
    --font-nav: 'AppleMyungjo';
    --white:#ffffff;
    --black: #000000;
    --dark-gray:rgb(53, 53, 53);
    --gray:rgb(173, 173, 173);
    --golden:rgb(252, 181, 2);
    --sm:10px;
    --md:14px;
    --lg:18px;
    --titulos:'Bai Jamjuree';
    --textos:'Baloo 2';
}

/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--white);
    font-family: var(--textos);
    justify-items: center;
    align-items: center;
    top: 0;
    display: block;
}

h1, h2 {
    font-family: var(--titulos);
    color: var(--golden);
    
}

/* Barra de navegación */
.barra-nav{
    display: flex;
    grid-row: 1;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-content: center;
}

.menu img {
    width: 10%;
    height: auto;
}
.menu{
    width: 100%;
    height: 12%;
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: center;
    align-items: center;
    
}

.menu ul{
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    background-color: var(--dark-gray);
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.menu ul li{
    display: inline-block;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: var(--lg);
    font-weight: 200;
    font-family: var(--titulos);
    background-color: var(--dark-gray);
    padding-left: 80px;
}

.menu ul li a:hover{
    text-decoration: none;
    color: var(--golden);
}

.menu .submenu{
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    z-index: 10;
}
.menu ul li:hover .submenu {
    display: block;
    padding-left: 60px;
}
.menu .submenu li a {
    display: block;
    text-decoration: none;
    color: var(--white);
    padding: 5px;
    white-space: nowrap;
    width: 220px;
}

.todo{
    background: var(--color-nav-text);
    width: 100%;
    padding-top: 80px;
    height: 100%;
}

#home{
    font-family: var(--textos);
    background: var(--color-bg);
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom: 1px solid #333;
    padding-top: 40px;
    font-size: var(--lg);
}

#portfolio {
    background: var(--color-bg);
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #333;
}

#portafolio p{
    font-family: var(--textos);
    font-size: var(--lg);
}

.audio-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}
.audio-container .audio-item{
    width: 46%;
}

/* Sección de Portafolio */
.audio-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.audio-item p{
    width: 100%;
    font-size: var(--md›);
}
.audio-item img{
    width: 20%;
}
.audio-item img, .audio-item audio{
    width: 70%;
}

audio { 
    width: 100%;
    padding: 10px;
}

.audio-item img {

    border-radius: 10%;
    width: 20%; 

}


/* Footer */
/* footer{
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    height: 100%;
    align-items: center;
    justify-content: center;
} */
footer{
    display: flex;
    background-color: var(--dark-gray);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.footer p{
    margin: 3px;
    color: var(--white);
    text-align: center;
    font-size: var(--md);
    font-family: var(--textos);
}

@media (max-width: 800px){
 
    body{
        height: auto;
        display: block;
    }
.barra-nav{
    display: flex;
    grid-row: 1;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-content: center;
}

.menu img {
    display: none;
    width: 10%;
    height: auto;
}
.menu{
    width: 100%;
    height: 12%;
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.menu ul{
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    background-color: var(--dark-gray);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    padding: 0;
}

.menu ul li{
    display: inline-block;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: var(--md);
    font-weight: 200;
    font-family: var(--titulos);
    background-color: var(--dark-gray);
    padding: 0;
}

.menu ul li a:hover{
    text-decoration: none;
    color: var(--golden);
}

.menu .submenu{
    display: none;
    
    top: 100%;
    list-style: none;
    z-index: 10;
}
.menu ul li:hover .submenu {
    display: block;
    padding-left: 10%;
    position: absolute;
}
.menu .submenu li a {
    display: block;
    text-decoration: none;
    color: var(--white);
    padding: 5px;
    white-space: nowrap;
    width: 220px;
}
/* #home{
    margin-top: 12%;
    padding-top: 20%;
} */
#home h1, #home p{
    font-size: var(--md);
}
#home h1{
    margin-top: 12px;
}
.portfolio{
    display: flex;
    flex-wrap: nowrap;
}
.portfolio .audio-container{
    display: flex;
    flex-direction: column;
}
.audio-container .audio-item{
    width: 100%;
    height: auto;
}



}
